/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */ ::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*-------MOBILE HEADER STYLES------*/

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .content-wrapper {
  padding-top: 20px;
  width: 80%;
}

header nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-family: 'Cutive Mono', monospace;
  width: 90%;
  margin: 0 auto;
}

header nav a {
  text-decoration: none;
}

a:link {
  color: #F69D8E;
}

a:visited {
  color: #F69D8E;
}

.head-line {
  padding-bottom: 40px;
}

header h1 {
  font-family: 'Open Sans', sans-serif;
  color: #FF7575;
  font-size: 16px;
  font-weight: 600;
}

.head-line p {
  width: 50%;
  font-family: 'Cutive Mono', monospace;
  font-size: 18;
} /*--- this is so that the web developer/designer title will collapse in the mobile styles*/

.front-end-title p {
  font-family: 'Cutive Mono', monospace;
  font-size: 18;
}

header .header-divider {
  width: 100%;
  border: solid black 0.5px;
  opacity: 0.2;
}


/*-------MOBILE HEADER STYLES (WORK PAGE)------*/

#about {
  color:gray;
  padding-bottom:15px;
}

#main {
  color:gray;
}

#workHeaderContainer {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projectHeadLine {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  padding-bottom:20px;
}

#skills {
  display:none;
}

#workNav {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 30px;
  font-size: 20px;
}

#workProjects {
  color: #FF7575;
  font-size: 22px;

}

#feTitle {
  display:none;  
}


/*-------MOBILE MAIN SECTION------*/

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

main .content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.dev-separator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 80%;
  font-family: 'Cutive Mono', monospace;
}

main figure {
  padding-top: 10px;
  padding-bottom: 50px;
}

.dev-work img {
  box-shadow: 10px 10px 12px lightgrey;
}

.text-container {
  display:none;
}

.responsive {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
}

.responsive figure{
  margin: 0;
}


.design-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 50px;
}

.separator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 80%;
  padding-bottom: 30px;
}

.design-work p {
  font-family: 'Cutive Mono', monospace;
  font-size: 18;
}

.separator .header-divider {
  width: 100%;
  border: solid black 0.5px;
  opacity: 0.2;
}

.design-work img {
  box-shadow: 15px 15px 40px lightgrey;
}

#generatorDescription {
  display:;
}

#feMentorDescription {
  display:none;
}


/*-------MOBILE MAIN SECTION (WORK PAGE)------*/

.main-ex {
  /*background-color: rgb(255, 242, 242); i like this color!---*/
  background-color: rgb(248, 246, 246);
}



#work {
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
}


.dev-work {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.example {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#quoteImage {
  width: 100%;
  margin-bottom: 40px;
}

#mobile {
  width:100%;
  box-shadow:18px 18px 30px lightgrey;
}

#mobile-mock {
  width: 40%;
  box-shadow: none;

}



#workDescBlackboard {
  display:none;
}

.workFigure {
  display:flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

#workExample {
  padding: 120px 0 80px 0;
  width:100%;
}

#apparelMobile {
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: 'Cutive Mono', monospace;
  color:gray;
  color: #F69D8E;
  color: #ff7f68;

  font-size: 20px;
  width:80%;
  font-weight: 300;
}

#apparelDescription {
  display:none;
}

#quoteImg{

}

#apparelImg {
  width:100%;
}

#workSkills {
  color: #F69D8E;
}

#workContact {
  color: #F69D8E;
}

#workEmailSection {
  display:flex;
  justify-content: center;
  align-items: center;
}

#workEmail {
  color:gray;
  text-decoration: none;
}

.full-width {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
}

.second-full-width{
  padding-top:30px;
}

.full-width p {
  line-height: 2.5;
  color: gray;
  font-size: 14px;
}

.half-width {
  display:none;
}

/*-------MOBILE FOOTER STYLES------*/


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
}

footer .content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

footer .header-divider {
  width: 100%;
  border: solid black 0.5px;
  opacity: 0.2;
}

.footer-separator {
  width: 90%;
}

.footer-separator p {
  font-family: 'Cutive Mono', monospace;
  font-size: 18;
  color: red;
}

.contact {
  width: 90%;
}

.email p {
  font-family: 'Cutive Mono', monospace;
}

.greeting {
  padding: 10px 0;
}

.social-med{
  width:100%;
}

.social-wrapper {
  width:90%;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  margin:0 auto;
  padding-top:30px;
}

#email {
  padding: 40px 0;
}

#envelope {
  padding-right:15px;
}

#linkedin {
  padding-right:30px;
}

/*----------WORK FOOTER ---------------*/


.work-footer {
  padding-top:20px;
}










/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}
/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}
/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.sr-only.focusable:active, .sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}
/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden;
}
/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 768px) {
	
/*-------TABLET HEADER STYLES------*/

  header .content-wrapper {
    width: 70%;
    padding-top: 40px;
  }
	
  header nav {
    width: 100%;
    font-size: 18px;
  }
	
  header h1 {
    font-size: 18px;
  }
	
  header p {
    font-size: 18px;
  }
	
/*-------TABLET MAIN SECTION------*/

	
  main .content-wrapper {
    width: 86%
  }
	
  .dev-separator p {
    font-size: 18px;
  }
	
  .separator p {
    font-size: 18px;
  }

  .text-container {
	display:none;
  }

 #jubilee-img {
   width:400px;
   height:215px;
 }

 #rogue-img {
   width:400px;
   height:215px;
 }

 #unplugged-img {
   width:400px;
   height:215px;
 }

 #tomii-img{
   width:400px;
   height:215px;
 }
	
/*-------TABLET FOOTER STYLES------*/

  .footer-separator p {
    font-size: 18px;
  }
	
  .email p {
    font-size: 18px;
  }

  #envelope {
    padding-right:15px;
  }
}


@media only screen and (min-width: 1200px) {
	
/*-------DESKTOP HEADER STYLES------*/

  header .content-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-top: 70px;
  }
	
  .header-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
  }
	
  header nav {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
  
  }
	
  header nav a {
    padding-left: 55px;
    font-size: 24px;
  }
	
  header h1 {
    font-size: 30px;
    margin: 0;
  }
	
  header p {
    font-size: 24px;
    color: #F69D8E;
  }
	
  .head-line {
    width: 50%;
  }
	
  .head-line p {
    margin: 0;
    font-size: 24px;
    color: #8B8B8B;
    width: 100%;
  }
	
/*-------DESKTOP MAIN SECTION------*/

  .header-divider {
    width: 100%;
    margin-bottom: 20px;
  }
	
  main .content-wrapper {
    width: 80%;
  }

  .dev-separator {
    width: 93%;
  }
	
  .dev-work {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 50px;
  }
  
  #workDescBlackboard {
  
  }

  .example {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
	
  .dev-work figure {
    margin: 0;
    padding: 70px 0;
    width: 50%;
  }
	
  .dev-work img {
    width: 100%;
    height: auto;
  }
	
  .text-container {
	display:block;
    width: 40%;
    padding-left: 100px;
	font-family: 'Cutive Mono', monospace;
    color: #8B8B8B;
    font-size: 20px;
  }

  #jubilee-img {
    width:500px;
    height:266px;
  }
 
  #rogue-img {
    width:500px;
    height:266px;
  }
 
  #unplugged-img {
    width:500px;
    height:266px;
  }
 
  #tomii-img{
    width:500px;
    height:266px;
  }

  .design-work {
    align-items: flex-start;
    width: 100%;
    padding: 70px 0 140px 0;
  }
	
  .separator {
    align-items: flex-start;
    width: 100%;
  }
	
  .design-work p {
    color: #F69D8E;
    font-size: 24px;
  }
	
  .design-work figure {
    margin: 0;
    width: 50%;
    padding-top: 70px;
  }
	
  .design-work img {
    width: 100%;
    height: auto;
  }

  .design-work .text-container p {
    color:#8B8B8B;
    font-size: 20px;
  }

  .social-wrapper {
    padding-top:40px;
    width:100%;
  }

  #envelope{
    padding-right:20px;
  }
  
  #email {
    text-decoration: none;
  }

  #linkedin {
    padding-right:30px;
  }


/*-------DESKTOP MAIN SECTION (WORK PAGE)------*/

#about {
  color: #FF7575;
}

#main {
  color: #FF7575;
}

#workNav {
  padding-bottom: 90px;
  width: 100%;
}

.half-width {
  display:flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
}


#projectHeadLine {
  width:100%;
}

#workProjects {
  font-size:32px;
}

#apparelDescription {
  display:none;
}

.second-full-width {
  display:none;
}

#workSkills p {
  color:#8B8B8B;
  font-size: 18px;
}

#secondWorkSkills p{
  color:#8B8B8B;
  font-size: 18px;
}

#workEmailSection {
  justify-content: flex-start;
}

#generatorDescription {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#feMentorDescription {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#articlesDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#jubileeDescription {
  display:none;
}

#rogueDescription {
  display:none;
}

#workFigure {
  display:flex;
}

/*#workDescBlackboard {
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: 'Cutive Mono', monospace;
  color:rgb(109, 109, 109);
  color: #ff7f68;
  font-size: 20px;
  padding-bottom: 60px;
  width:80%;
  text-align: left;
  font-weight: 300;
}*/


#whm-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.text-container {
	display:block;
    width: 40%;
    padding-left: 100px;
	font-family: 'Cutive Mono', monospace;
    color: #8B8B8B;
    font-size: 20px;
  }

/*#apparelDescription {
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: 'Cutive Mono', monospace;
  font-family: 'Open Sans', sans-serif;
  color:gray;
  color: #F69D8E;
  font-size: 20px;
  width:80%;
}*/
/*-------DESKTOP FOOTER SECTION------*/

	
  footer .content-wrapper {
    align-items: flex-start;
  }
	
  .footer-separator {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
  }
	
  .footer-separator p {
    font-size: 24px;
    color: #FF7575;
  }
	
  .contact {
    width: 100%;
  }
	
  .contact p {
    color: #8B8B8B;
    font-size: 20px;
  }
}


@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *, *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " ("attr(href) ")";
  }
  abbr[title]:after {
    content: " ("attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}