/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */ ::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.head-line {
  padding-bottom: 40px;
}
header .content-wrapper {
  padding-top: 20px;
  width: 80%;
}
header nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-family: 'Cutive Mono', monospace;
  width: 90%;
  margin: 0 auto;
}
header nav a {
  text-decoration: none;
}
a:link {
  color: #F69D8E;
}
a:visited {
  /*color:#949494;*/
  color: #F69D8E;
}
header h1 {
  font-family: 'Open Sans', sans-serif;
  color: #FF7575;
  font-size: 16px;
  font-weight: 600;
}
header p {
  font-family: 'Cutive Mono', monospace;
  font-size: 18;
}
.head-line p {
  width: 50%;
} /*--- this is so that the web developer/designer title will collapse in the mobile styles*/
header .header-divider {
  width: 100%;
  border: solid black 0.5px;
  opacity: 0.2;
}
.dev-separator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 80%;
  font-family: 'Cutive Mono', monospace;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
main .content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
main figure {
  padding-top: 10px;
  padding-bottom: 50px;
}
.dev-work img {
  box-shadow: 10px 10px 12px lightgrey;
}
.separator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 80%;
  padding-bottom: 30px;
}
.separator .header-divider {
  width: 100%;
  border: solid black 0.5px;
  opacity: 0.2;
}
.design-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 50px;
}
.design-work p {
  font-family: 'Cutive Mono', monospace;
  font-size: 18;
}
.design-work img {
  box-shadow: 15px 15px 40px lightgrey;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
}
footer .content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
footer .header-divider {
  width: 100%;
  border: solid black 0.5px;
  opacity: 0.2;
}
.footer-separator {
  width: 90%;
}
.footer-separator p {
  font-family: 'Cutive Mono', monospace;
  font-size: 18;
  /*color:#FF7575;*/
  color: red;
}
.contact {
  width: 90%;
}
.email p {
  font-family: 'Cutive Mono', monospace;
}
.greeting {
  padding-top: 20px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}
/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}
/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.sr-only.focusable:active, .sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}
/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden;
}
/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 768px) {
  header .content-wrapper {
    width: 70%;
    padding-top: 40px;
  }
  header nav {
    width: 100%;
    font-size: 18px;
  }
  header h1 {
    font-size: 18px;
  }
  header p {
    font-size: 18px;
  }
  main .content-wrapper {
    width: 86%
  }
  .dev-separator p {
    font-size: 18px;
  }
  .separator p {
    font-size: 18px;
  }
  .footer-separator p {
    font-size: 18px;
  }
  .email p {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1200px) {
  header .content-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-top: 70px;
  }
  .header-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
  }
  header nav {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    width: 50%;
  }
  header nav a {
    padding-left: 30px;
    font-size: 24px;
  }
  header h1 {
    font-size: 26px;
    margin: 0;
  }
  header p {
    font-size: 24px;
    color: #F69D8E;
  }
  .head-line {
    width: 50%;
  }
  .head-line p {
    margin: 0;
    font-size: 24px;
    color: #8B8B8B;
    width: 100%;
  }
  .title {
    margin-top: 160px;
    color: #8B8B8B;
  }
  .header-divider {
    width: 100%;
    margin-bottom: 20px;
  }
  main .content-wrapper {
    width: 80%;
  }
  .headline {
    width: 40%;
  }
  .example {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .text-container {
    width: 40%;
    padding-left: 100px;
  }
  .text-one:after {
    display: block;
    white-space: pre;
    content: 'Jubilee Austen Project / \A HTML 5 & CSS Website';
    font-family: 'Cutive Mono', monospace;
    width: 30%;
    margin: 0;
    color: #8B8B8B;
    font-size: 20px;
    padding-bottom: 40px;
  }
  .text-info-one:before {
    display: block;
    white-space: pre;
    content: 'This is a project based on a photoshop \A design comp. This webpage is ideal \A for portfolios and small businesses.';
    font-family: 'Cutive Mono', monospace;
    width: 30%;
    color: #8B8B8B;
    font-size: 20px;
  }
  .text-two:after {
    display: block;
    white-space: pre;
    content: 'Rogue Pickings Website /';
    font-family: 'Cutive Mono', monospace;
    width: 30%;
    margin: 0;
    color: #8B8B8B;
    font-size: 20px;
    padding-bottom: 40px;
  }
  .text-info-two:before {
    display: block;
    white-space: pre;
    content: 'From Photoshop Design Comp. \A A clean, organized webpage created \A through the use of a design comp \A for a food truck company.';
    font-family: 'Cutive Mono', monospace;
    width: 30%;
    color: #8B8B8B;
    font-size: 20px;
  }
  .text-three:after {
    display: block;
    white-space: pre;
    content: 'Unplugged Retreat /';
    font-family: 'Cutive Mono', monospace;
    width: 30%;
    color: #8B8B8B;
    font-size: 20px;
    padding-bottom: 20px;
  }
  .text-info-three:before {
    display: block;
    white-space: pre;
    content: '\A A multi-paged, responsive site.\A Perfect for organizations and events.';
    font-family: 'Cutive Mono', monospace;
    width: 30%;
    color: #8B8B8B;
    font-size: 20px;
  }
  .dev-work {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 50px;
  }
  .dev-work figure {
    margin: 0;
    padding: 70px 0;
    width: 50%;
  }
  .dev-work img {
    width: 100%;
    height: auto;
  }
  .separator {
    align-items: flex-start;
    width: 100%;
  }
  .design-work {
    align-items: flex-start;
    width: 100%;
    padding: 70px 0 140px 0;
  }
  .design-work p {
    color: #F69D8E;
    font-size: 24px;
  }
  .design-work figure {
    margin: 0;
    width: 50%;
    padding-top: 70px;
  }
  .design-work img {
    width: 100%;
    height: auto;
  }
  .dev-separator {
    width: 93%;
  }
  footer .content-wrapper {
    align-items: flex-start;
  }
  .footer-separator {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
  }
  .footer-separator p {
    font-size: 24px;
    color: #FF7575;
  }
  .contact {
    width: 100%;
  }
  .contact p {
    color: #8B8B8B;
    font-size: 20px;
  }
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *, *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " ("attr(href) ")";
  }
  abbr[title]:after {
    content: " ("attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}